/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
	box-sizing: border-box;
}
/* Banner édition*/
.edit{
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	gap: 10px;
	margin: 0 -150px;
	display:none
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	letter-spacing: 0.1em;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	color: #93532F;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 5px;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap:30px;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: 400;
	cursor: pointer;
}
li:hover {
color: #000;
font-weight: 700;
}
.fa-instagram{
	font-size: 22px;
	color:#000;
}
#introduction {
	display: flex;
	align-items: center;
	margin: 150px 0;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
	font-family: Syne;
	font-size: 30px;
	font-weight: 700;

}
#introduction p {
	color: #3D3D3D;
	margin-bottom: 16.5px;
	line-height: 17px;
	margin-right: 146px;
}
#portfolio h2 {
	margin-bottom: 2em;
}
.edit-modif{
	display: flex;
	justify-content: center;
	gap:20px;

}
.modif{
	display: flex;
	position: relative;
	gap:5px;
	top:10px;
	display: none
}
.modif p{
	cursor: pointer;
}
/******MODALE***/
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%; 
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
	cursor: pointer;
}
.modal-wrapper{
	background-color: #fff;
	width: 600px;
	max-width: 100vw;
	overflow: auto;
	padding:20px;
	position: relative;
	border-radius: 10px;
}
.fa-xmark{
	position:absolute;
	right:20px;
	font-size: 24px;
	cursor: pointer;
}
.modal-wrapper h3{
	font-size: 26px;
	margin:2em 0;
	text-align: center;
}
.gallery-modal{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin:0 80px;
	column-gap: 10px;
	row-gap: 25px;
}
.gallery-modal figure{
	position: relative;
}
.gallery-modal span{
	width: 17px;
	height: 17px;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:5px;
	right: 5px;
}
.fa-trash-can{
	color: #fff;
	font-size: 10px;
}
.gallery-modal img{
	width:100%;
}
hr{
	margin:60px 80px 0px 80px;
}
.modal-wrapper button{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 240px;
	border-radius: 60px ;
	height:36px;
	border:none;
	display:block;
	margin: 30px auto;
	font-family: Syne;
	font-weight: 700;
}

/* Filtres par Catégories*/
#portfolio ul{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color:#1D6154;
	margin-bottom: 50px;
}
#portfolio li{
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #1D6154;
	padding: 10px 20px;
	border-radius: 60px;
}
#portfolio li:hover{
	background-color: #1D6154;
	color: #fff;
}

.gallery{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
.gallery figcaption{
	font-size: 13px;
	padding: 5px 0;
	color: #3D3D3D;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact p{
	color:#3D3D3D
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	color:#3D3D3D
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height:36px;	
}
footer{
	background-color: #fff;
	height: 60px;
	margin:0 -150px
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
footer li{
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 300;
	padding:20px 100px;

}
/*****LOGIN ***/
#login {
	width: 33%;
	margin: auto;
}
#login > * {
	text-align: center;
}
#login h2{
	margin-bottom: 20px;
}
#login p{
	color:#3D3D3D
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	color:#3D3D3D;
	margin-bottom: 175px;
}
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height:36px;
}	
#login a{
	text-decoration:underline;
	text-align: center;
}
#login .error_message{
	text-align: center;
	color: red;
}
#login .error_input{
	border:1px solid red;
}


